html 
    head 
        title= site.title
    body 
        for post in posts.chunk(2)
            h1= post.title
            .content!= post.content

        h1= posts.paginator.page
        h1= posts.paginator.pre_url
        a(href= posts.paginator.next_url) 下一页