html 
    head 
        title= site.title
    body 
        for post in posts.chunk(7)
            h1= post.title
       

            span=  format(post.date, 'MMMM D, YYYY')
            .content!= post.content

        if posts.paginator.has_prev
            a(href= posts.paginator.prev_url)= site.posts.label.prev
        if posts.paginator.has_next
            a(href= posts.paginator.next_url)= site.posts.label.next